@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-neutral-900;
  }
}

@layer components {
  .cardFt {
    @apply bg-gray-100 rounded-lg border border-gray-200 p-6 shadow-md flex flex-col space-y-4 text-gray-900 dark:bg-gradient-to-tr dark:backdrop-blur-lg dark:from-indigo-700 dark:via-indigo-800 dark:to-purple-800 dark:border-indigo-900 dark:text-white
  }
  .Pcontainer {
    @apply bg-gray-100 flex min-h-screen pb-[100px] md:pb-5 w-full
  } 
  .adminDark {
    @apply dark:bg-gradient-to-r dark:to-black/90 dark:from-slate-900 dark:text-white
  }
  .buttonPrimary { 
    @apply rounded-lg bg-pixlviol-500 hover:bg-indigo-600 text-white text-base text-center px-8 py-4 transition duration-150 ease-out hover:ease-in dark:bg-yellow-500 dark:text-black
  }
  .buttonUpdate { 
    @apply rounded-lg bg-pixlviol-200 hover:bg-pixlviol-500 text-white text-sm text-center px-5 py-3.5 transition duration-150 ease-out hover:ease-in
  }
  .sidebar {
    @apply relative bg-pixlviol-500 dark:bg-pixlviol-800 h-screen w-[350px] hidden p-7 sm:block shadow-xl z-50
  }
  .sidebarLink {
    @apply flex items-center px-1 py-5 text-xl font-medium cursor-pointer text-white hover:text-white dark:text-gray-200 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-800
  }
  .navLink {
    @apply block px-4 text-2xl text-white/80 no-underline rounded-md dark:text-gray-200 hover:blur-0 hover:text-white hover:cursor-pointer focus:text-white focus:outline-none dark:focus:bg-gray-800
  }
  .navLink a {
    @apply w-full px-4 py-2 text-gray-500 rounded-md dark:text-gray-300 hover:text-pixlviol-500 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-700 text-base
  }
  .navLinkDT a {
    @apply w-full px-4 py-2 text-black rounded-md dark:text-gray-300 hover:text-pixlviol-500 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-700 text-lg font-normal
  }
  .NavIcon {
    @apply h-7 w-7 cursor-pointer text-white hover:text-pixlviol-400
  }
  .form {
    @apply bg-white dark:bg-slate-800 rounded-lg shadow-xl pb-4
  }
  .formHeading {
    @apply text-sm uppercase text-slate-200 dark:text-slate-200 items-center border-black/10 border-b font-medium formSpacing mb-3 pb-3
  }
  .formLabel {
    @apply block text-sm text-gray-600 mb-2 dark:text-slate-200
  }
  .formInput {
    @apply w-full px-3 py-2 text-gray-700 bg-gray-200/30 hover:bg-white active:bg-white rounded dark:bg-slate-400 dark:text-black
  }
  .formSpacing {
    @apply p-5 md:px-8 md:py-3
  }

  /* retailers */
  .retailerCard {
    @apply py-3 sm:py-4
  }
  .retailerLink {
    @apply inline-flex items-center text-base font-semibold text-pixlviol-500 dark:text-white border border-pixlviol-400 rounded-lg p-3 hover:bg-pixlviol-400
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.shop-button-ll{
  /* box-shadow: ; */
  box-shadow: 50px 50px 120px 121px rgba(234,179,8,0.15);
}
/* @font-face {
  font-family: 'aArang';
  src: local('PROXON'), url(./fonts/aArang.ttf) format('truetype');
} */
@font-face {
  font-family: 'Clash Display';
  src: local('Clash Display'), url(../fonts/FontsFree-Net-ClashDisplay-Variable.ttf) format('truetype');
}

*{
  font-family: 'Clash Display';
}




.hero_grad_ll{
  background: -webkit-linear-gradient(#a776d9, #9147da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}









.how_it_works_inner_ll{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  /* align-items: stretch; */
}

.how_it_works_container_ll h2{
  font-family: 'Clash Display';
  color:#c728ff;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

.box_container_ll{
  max-width: 250px;
  /* padding: 1rem; */
  position: relative;
  background: linear-gradient(to right, #9c615c, #f2b11c, #820da2);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  box-shadow: 5px 10px #0a010c;
  margin-bottom: 20px;
  /* align-self:flex-end; */
}

.box_inner_ll{
  background: #121723;
  color: white;
  padding:14px;
  border-radius: 1em;
}

.box_inner_ll h3{
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 1.3rem;
  background: -webkit-linear-gradient(#9c615c, #f2b11c, #820da2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box_inner_ll p, .box_inner_ll li{
  font-family: 'Clash Display';
}




.hiw_image_ll{
  width: 300px;
  height: 300px;
  object-fit: contain;
}



@media screen and (max-width:700px) {
  .how_it_works_inner_ll{
    flex-direction: column;
    align-items: center;
  }
}