@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-neutral-900;
  }
}

@layer components {
  .cardFt {
    @apply bg-gray-100 rounded-lg border border-gray-200 p-6 shadow-md flex flex-col space-y-4 text-gray-900 
  }
  .Pcontainer {
    @apply bg-gray-100 flex min-h-screen pb-[100px] md:pb-5 w-full
  } 
  .adminDark {
    @apply dark:bg-gradient-to-r dark:to-black/90 dark:from-slate-900 dark:text-white
  }
  .buttonPrimary { 
    @apply rounded-lg bg-pixlviol-500 hover:bg-indigo-600 text-white text-base text-center px-8 py-4 transition duration-150 ease-out hover:ease-in dark:bg-yellow-500 dark:text-black
  }
  .buttonUpdate { 
    @apply rounded-lg bg-pixlviol-200 hover:bg-pixlviol-500 text-white text-sm text-center px-5 py-3.5 transition duration-150 ease-out hover:ease-in
  }
  .sidebar {
    @apply relative bg-pixlviol-500 dark:bg-pixlviol-800 h-screen w-[350px] hidden p-7 sm:block shadow-xl z-50
  }
  .sidebarLink {
    @apply flex items-center px-1 py-5 text-xl font-medium cursor-pointer text-white hover:text-white dark:text-gray-200 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-800
  }
  .navLink {
    @apply block px-4 text-2xl text-white/80 no-underline rounded-md dark:text-gray-200 hover:blur-0 hover:text-white hover:cursor-pointer focus:text-white focus:outline-none dark:focus:bg-gray-800
  }
  .navLink a {
    @apply w-full px-4 py-2 text-gray-500 rounded-md dark:text-gray-300 hover:text-pixlviol-500 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-700 text-base
  }
  .navLinkDT a {
    @apply w-full px-4 py-2 text-black rounded-md dark:text-gray-300 hover:text-pixlviol-500 focus:text-pixlviol-500 focus:bg-pixlviol-100 focus:outline-none dark:focus:bg-gray-700 text-lg font-normal
  }
  .NavIcon {
    @apply h-7 w-7 cursor-pointer text-white hover:text-pixlviol-400
  }
  .form {
    @apply bg-white dark:bg-slate-800 rounded-lg shadow-xl pb-4
  }
  .formHeading {
    @apply text-sm uppercase text-slate-200 dark:text-slate-200 items-center border-black/10 border-b font-medium formSpacing mb-3 pb-3
  }
  .formLabel {
    @apply block text-sm text-gray-600 mb-2 dark:text-slate-200
  }
  .formInput {
    @apply w-full px-3 py-2 text-gray-700 bg-gray-200/30 hover:bg-white active:bg-white rounded dark:bg-slate-400 dark:text-black
  }
  .formSpacing {
    @apply p-5 md:px-8 md:py-3
  }

  /* retailers */
  .retailerCard {
    @apply py-3 sm:py-4
  }
  .retailerLink {
    @apply inline-flex items-center text-base font-semibold text-pixlviol-500 dark:text-white border border-pixlviol-400 rounded-lg p-3 hover:bg-pixlviol-400
  }
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
} */

.shop-button-ll{
  /* box-shadow: ; */
  box-shadow: 50px 50px 120px 121px rgba(234,179,8,0.15);
}
/* @font-face {
  font-family: 'aArang';
  src: local('PROXON'), url(./fonts/aArang.ttf) format('truetype');
} */
@font-face {
  font-family: 'Clash Display';
  src: local('Clash Display'), url(../fonts/FontsFree-Net-ClashDisplay-Variable.ttf) format('truetype');
}

*{
  font-family: 'Clash Display';
}

.hero_grad_ll{
  background: -webkit-linear-gradient(#a776d9, #9147da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.how_it_works_inner_ll{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}



.how_it_works_container_ll h2{
  font-family: 'Clash Display';
  color:#c728ff;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

.how_it_works_section_1{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}


.how_it_works_section_2{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}


.box_container_ll{
  position: relative;
  background: linear-gradient(to right, #9c615c, #f2b11c, #820da2);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  box-shadow: 5px 10px #0a010c;

}

.box_inner_ll{
  background: #121723;
  color: white;
  padding:14px;
  border-radius: 1em;
}

.box_inner_ll h3{
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 1.3rem;
  background: -webkit-linear-gradient(#9c615c, #f2b11c, #820da2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box_inner_ll p, .box_inner_ll li{
  font-family: 'Clash Display';
}

.hiw_image_ll{
  width: 300px;
  height: 300px;
  object-fit: contain;
}

@media screen and (max-width:700px) {
  .how_it_works_inner_ll{
    flex-direction: column;
    align-items: center;
  }
}

.everyone_icon_container{
  /* border: 1px solid white; */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#88cb65,#9355a4);
}


.everyone_card_ll h5{
  font-family: 'Clash Display';
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#88cb65,#9355a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.everyone_card_ll{
  width: 550px;
  height: 500px;
  position: relative;
  background: linear-gradient(to right,#9355a4, #88cb65);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  margin-bottom: 20px;
  color:white;
}

.everyone_card_inner_ll{
  height: 100%;
  background-color:#160c19;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
  border-radius: 1em;
  font-size: 0.9rem;
}





.everyone_icon_container_1{
  /* border: 1px solid white; */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#f44f51,#9355a4);
}


.everyone_card_1_ll h5{
  font-family: 'Clash Display';
  background: -webkit-linear-gradient(#f44f51,#9355a4);
  font-size: 1.8rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.everyone_card_1_ll{
  width: 550px;
  height: 500px;
  /* height: 50; */
  /* padding: 1rem; */
  position: relative;
  background: linear-gradient(to right,#9355a4, #f44f51);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  margin-bottom: 20px;
  color:white;

}

.everyone_card_inner_1_ll{
  background-color:#160c19;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
  border-radius: 1em;
  font-size: 0.9rem;
  height: 100%;
}










.everyone_icon_container_2{
  /* border: 1px solid white; */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#56b2f2,#9355a4);
}


.everyone_card_2_ll h5{
  font-family: 'Clash Display';
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#56b2f2,#9355a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.everyone_card_2_ll{
  width: 550px;
  height: 500px;
  /* padding: 1rem; */
  position: relative;
background: linear-gradient(to right,#9355a4,#56b2f2);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  margin-bottom: 20px;
  color:white;

}

.everyone_card_inner_2_ll{
  background-color:#160c19;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
  border-radius: 1em;
  font-size: 0.9rem;
}










.everyone_icon_container_3{
  /* border: 1px solid white; */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#eca42a,#9355a4);
}

.everyone_card_3_ll h5{
  font-family: 'Clash Display';
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#eca42a,#9355a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.everyone_card_3_ll{
  width: 550px;
  height: 500px;
  /* padding: 1rem; */
  position: relative;
background: linear-gradient(to right,#eca42a,#56b2f2);
  padding: 1px;
  margin: 10px;
  border-radius: 1em;
  margin-bottom: 20px;
  color:white;
}

.everyone_card_inner_3_ll{
  background-color:#160c19;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
  border-radius: 1em;
  font-size: 0.9rem;
}




.everyone_card_2_ll ul{
  text-align: center;
  height: 60%;
  /* padding-bottom: 20px; */
}

.everyone_card_3_ll ul{
  height: 60%;
  text-align: center;
}

.everyone_card_1_ll ul{
  height: 60%;
  text-align: center;
}


.everyone_card_ll ul{
  height: 60%;
  text-align: center;
}

@media screen and (max-width:1050px) {
  .everyone_row_ll{
    flex-wrap: wrap;
    justify-content: center;
  }

  .everyone_card_ll,.everyone_card_1_ll,.everyone_card_2_ll,.everyone_card_3_ll{
    width: 30vw;
  }
}



@media screen and (max-width:800px) {
  .everyone_row_ll{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .everyone_card_ll,.everyone_card_1_ll,.everyone_card_2_ll,.everyone_card_3_ll{
    width: 50vw;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
  }
}

.image_benefitsTwo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:600px) {
  .everyone_card_ll,.everyone_card_1_ll,.everyone_card_2_ll,.everyone_card_3_ll{
    width: 80vw;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
  }
}